.header-container {
    color: white;
    padding: 16px;
    margin-top: -75px;
    text-align: center;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.header-subtitle {
    font-size:  20px;
    color: #aaa;
    margin-top: 4px;
}
